ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 3px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }


  .header-box {
    display: flex;
    height: 300px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border: 3px #5a7e95;
    align-items:center;
    background-color: rgb(187, 202, 216);
    width: 100%;rgb(154, 160, 166)
  }

  h1 {
    font-size: 100px;
    font-family: 'Wix Madefor Text', sans-serif;
    color: grey;
  }

  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn    
      width: 100%;
      padding: 0;
    }


    .home-images {
   
      display: flex;
      height: 300px;
      padding: 10px;
      flex-direction: row;
      justify-content: space-between;

    }

    .images {
      flex: auto;
      margin: 5%;
    }
