  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 3px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }


  .header-box {
    display: flex;
    height: 300px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border: 3px #5a7e95;
    align-items:center;
    background-color: rgb(187, 202, 216);
    width: 100%;rgb(154, 160, 166)
  }
  
  h1 {
    font-size: 100px;
    font-family: 'Wix Madefor Text', sans-serif;
    color: grey;
  }

  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn    
      width: 100%;
      padding: 0;
    }


.home-images {
   
      display: flex;
      height: 300px;
      padding: 3px;
      flex-direction: row;
      justify-content: space-between;

    }

    .images {
      flex: auto;
      margin: 5%;
    }

    .image3 {
      max-width: 100%;
      height: auto;
    }

  .newsletter{
    padding: 20px;
  background-color: #f1f1f1;
  text-align: center;
  
  }

  .newsletter-box {
    bottom: 0px;
    position: relative;
    width: 100%;
    margin-top: 100px;
    font-family: 'Wix Madefor Text', sans-serif;
    
  }

      
#latest-posts {
  text-align: center;
}

#glacial-melting, #wind-turbines, #protest {
max-width: 100px;
height: 100px;
}


input[type=text], input[type=submit]{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  form {
    border: 4px solid rgb(187, 202, 216);
    border-radius: 10px;

  }

  .article-style {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
  }

  article {
    margin-bottom: 20px;

  }

  article h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: green;
  }

article p {
    margin-bottom: 10px;
  }

article figure {
    margin: 20px 0;
  }

article img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

article figcaption {
    font-style: italic;
    text-align: left;
  }

article ul {
    margin-bottom: 10px;
  }

  article ul li {
    margin-bottom: 5px;
    padding-left: 20px;
  }

article ul li:before {
    content: "\2022";
    color: #333;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  article section{
    margin-bottom: 20px;

  }


.post-list {
      background-color: #c1c0c0;
      margin-top: 100px;
      margin-left: 150px;
      max-width: 80%;
      height: 625px;
      padding: 10px;
      align-items: center;
    }

    
#latest-posts {
      text-align: center;
    }

    /*Article style*/
    .articles {
      max-width: 800px;
      margin: 0 auto;
    }

    #green-text {
      color: yellowgreen;

    }
    /*Style contact*/
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 20px;
    }

    h2 {
      color: #333;
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
    }
    
    .container {
      max-width: 800px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    form {
      margin-top: 20px;
    }
    
    label {
      font-weight: bold;
      color: #5a7e95;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 10px;
    }

    input[type="submit"] {
    background-color: #c1c0c0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    }

    input[type="submit"]:hover {
    background-color: #c1c0c0;
    }


    .post-box {
        display: flex;
      }
      
         
      .post-image {
        flex-basis: 40%
      }
      
      .post-text {
        font-size: 20px;
        padding-left: 20px;
      }
    